<html>
    <head></head>
    <body>
{% block content %}
    <h1>Welcome</h1>
    {% if request.user.is_authenticated %}
        {% load splangotags %}
        {% experiment "sample_experiment_2" variants "one, two" %}

	    {% hyp "sample_experiment_2" "one" %}
            Variant One
        {% endhyp %}
        {% hyp "sample_experiment_2" "two" %}
            Variant Two
        {% endhyp %}
    {% endif %}
    <a href="{% url 'myapp_sample' %}">Continue to sample page</a>
{% endblock %}
    </body>
</html>